input{
    font-size: 16px;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: #E5E5E5;
    font-family: "Roboto";
}
.wrap {
    position: relative;
    min-height: 100%;
} 
.content {
    padding: 45px;
    padding-bottom: 80px;
    font-size: 16px;
    margin: auto ;
    background: #FFFFFF;
    width: 1280px;
    height: 525px;
    color: #333333;
}
.footer {
    position: absolute;
    box-sizing: content-box;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 20px;
    height: 70px;
    background: #E5E5E5;
    width: 1370px;
    margin: auto;
    padding-top: 22px;
    display: flex;
    align-items: flex-start;
}
.footer p{
    margin:0;
    margin-left: 8px;
    font-size:14px;
    color: #A1A1A1;
}
.table{
    overflow: hidden;
}
.table__row{
    display: grid;
    grid-template-columns:70% 30% ;
    font-size: 16px;
    line-height: 25px;
    margin:5px 0;
}
a{
    text-decoration:none;
}
.table__row a{
    color:#333333;
}
.table__row:hover{
    background-color: #F2F2F2;
}
.table__row:hover a{
    background-color: #F2F2F2;
    color:#3072C4;
}
.table-head:hover{
    background-color: #FFFFFF;
}
.table-head{
    font-weight:bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.find-block__title{
   font-size: 32px;
}
.find-block__input-area_ref{
    line-height: 20px;
}
.find-block__input-area__button{
    border: 1px solid #518E6A;
    height: 2em ;
    margin:0 5px;
    border-radius: 1px;
    line-height: 20px;
    height: 42px;
}
.button-green{
    background-color: #518E6A;
    color: #FFFFFF;
}
.find-block__input-area__input{
    border: 1px solid #DADADA;
    box-sizing: border-box;
    width:20em;
    margin:0 5px;
    height: 2em ;
    line-height: 20px;
    padding: 11px auto;
    height: 42px;
}
.footer__logo{
    width: 22px;
    height: 22px;
    margin-top: 10px;
}
.footer p{
    line-height: 22px;
}
.footer__name{
    font-weight: 900;
    font-size: 16px;
}