input{
    font-size: 16px;
}
.pop-up {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    display: flex;
    justify-content: center; 
    align-items: center;  
    background-color:rgba(15, 15, 15, 0.5);
}
.pop-up__content{
    padding: 20px;
    padding-bottom: 20px;
    margin: auto;
    width:500px;
    font-size: 16px;
    background-color:rgb(255, 255, 255);
}
.pop-up__content__title__text{
    font-size: 22px;
}
.pop-up__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    line-height: 20px;
    width:500px;
    margin: auto;
    background: #E9E9E9;
}
.pop-up__content__title{
    display: grid;
    grid-template-columns:90% 10%;
}
.pop-up__content__input-block{
    display: grid;
    grid-template-columns:40% 60%;
    margin:20px 0;
}
.pop-up__content__input-block__input{
    margin: 0 10px;
}
.pop-up__content__input-block__input:hover{
    border:1px solid F2F2F2;
}
.input-num{
    width: 50%;
}
.pop-up__content__title__exit-button{
    font-size: 30px;
    opacity: 0.54;
    background: transparent;
    border:0 solid transparent;
    width:32px;
    height:34px;
    line-height: 32px;
    margin:auto;
}
.pop-up__footer__button{
    border: 1px solid rgba(0, 0, 0, 0.15);
    line-height: 20px ;
    height: 40px;
    margin:0 5px;
    border-radius: 1px;
}
.pop-up__content__input-block__text{
    margin: auto 10px;
}
.button-green{
    background-color: #518E6A;
    border:0 solid transparent;
}